.pricing-tag img{
    width: 145px; 
    height: 145px;
    border-radius: 50%;
}

.create-pricing-tag img {
    width: 200px; 
    height: 200px;
}

.total_price{
    font-size: larger;
    font-weight: bold;
}
/* .record-table{
    margin: 50px 70px !important;
} */